*{margin: 0;}

ul>li>a#Menu_item {text-align: center;
	background-color: #d1f0ed;}
.single-element{margin: 10px 10px 10px;
	height: 700px;
	padding: 10px;
	background-color:  #d1f0ed;
	overflow: hidden;}