*{margin: 0;}

ul>li>a#Menu_item {text-align: center;
	background-color: #d1f0ed;}

h2#sec-title{font-size: 180%;
	font-weight: bold;}

#single-element{margin: 10px 10px 10px;
	height: 1000px;
	background-color:  #d1f0ed;
	overflow: hidden;}